<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome To back to Hoots {{ fname }} {{ lname }}.</h1>

    <form action="/post/{{email}}/{{fname}}/{{lname}}" method = "post">
        <h1>Post</h1>
        <input type="text" placeholder="Type Something To Post" name = "post" required = "required" />
        <button>Post</button>
    </form>

    
</body>
<script>

</script>
</html>